<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prototype_1_group_12">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
		<meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZzC71V9S4GLE8WxEzHaQFbsz3CjwFUIo" />
        <activity android:name=".MainActivity" /> <!-- Start with splash screen -->
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".About"></activity>
        <activity android:name=".AddRouteActivity"></activity>
        <activity android:name=".DetailActivity"></activity>
        <activity android:name=".Nav1Activity"></activity>
        <activity android:name=".RouteHistoryActivity"></activity>
    </application>

</manifest>